#themesongcontent{
	width:85%;
	min-height:150px;
	background-color:rgba(255,255,255,0.5);
	font-size: 1em;
	letter-spacing: 0.3em;
	line-height: 3em;
	text-align: center;
	font-family: "微軟正黑體","標楷體","Arial";
	padding-top: 20px;
	margin: 2em auto;
}
#themesongcontent a{
	text-decoration: none;
}
#themesongcontent img{
	width:35%;
	height:30%;
	float:left;
	padding-left: 2em;
}